<nav>

    <div class="info">
        <div class="id" id="id">
            <span>
                <%= user.username %>
            </span>
            <i id="arrow-down" class="fa-solid fa-angle-down"></i>
        </div>
        <!-- -------------id DropDrown----------------- -->

        <div class="id-dropDrown" id="id-dropDrown">

            <a href=""> Account info</a>
            <a href=""> Setting</a>
            <a href="/logout"> Log out</a>


        </div>

        <!-- -------------id DropDrown----------------- -->
        <div class="setting">
            <i class="fa-solid fa-gear"></i>
        </div>
    </div>



    <div class="search-add">

        <div class="search">
            <div class="icon">

                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" name="search" id="search" placeholder="Search" autocomplete="off">
        </div>


        <div class="new" id="new">
            <div class="plus">
                <span> +</span> <span> New</span>
            </div>
            <i class="fa-solid fa-angle-down"></i>

            <!-- ----------------new DropDown-------------------- -->




            <div class="new-dropDrown" id="new-dropDrown">

                <a href="/all-note/add-note "> </i> <i class="fa-solid fa-book"></i> <span>Note</span> </a>
                <a href=""> <i class="fa-solid fa-check"></i><span> Todo </span></a>
                <a href="" id="sketch"> <i class="fa-solid fa-pen-ruler"></i> <span> Sketch </span></a>


            </div>

            <!-- ----------------new DropDown-------------------- -->

        </div>

    </div>








    <div class="links">

        <a href="/all-note"> <i class="fa-solid fa-house"></i><span>Home</span> </a>
        <a href="/all-note/notes">

            <div> <i class="fa-regular fa-clipboard"></i> <span>Notes</span> </div>


        </a>
        <a href="" id="addTask"> <i class="fa-solid fa-check"></i><span> Task </span></a>

    </div>


    <div class="links2">

        <a href=""> <i class="fa-solid fa-chevron-right"></i> <i class="fa-solid fa-book"></i> <span> NoteBooks
            </span></a>


    </div>

    <div class="links3">

        <a href=""> <i class="fa-solid fa-user"></i> <span> Share With Friend </span></a>
    </div>

    <a id="trash" href=""> <i class="fa-solid fa-trash-can"></i> <span> Trash </span></a>



    <!-- ----------------------taskbox------------------ -->

    <div class="taskContainer" id="taskContainer">





        <h1>he.lo</h1>



    </div>
    <!-- ----------------------taskbox------------------ -->






</nav>