@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body{
    transition: linear 0.8s;
}

html{
    font-size: 64.5%;
}

a{
    text-decoration: none;
}
:root{
    --grey:#a6a6a6;
    --main:#00A82D;
    --black:#1A1A1A;
}

.root{
    height: 100vh;
    width: 100vw;
    display: flex;
}









































