<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js" defer></script>
    <script src="https://kit.fontawesome.com/8b0dcab210.js" crossorigin="anonymous"></script>
    <title>Login </title>
</head>

<body>


    <div class="root" id="root">
        <div id="success">
            <%= successfullyAccount %>

        </div>

        <div class="container">
            <header>
                <img src="/img/logo.png" alt="">
                <h1>AllNotes</h1>
                <p>Remember everything important.</p>
            </header>
            <form action="/login" method="post" id="form">

                <div class="username">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>

                <div id="error">
                    <%=usernameOrPassword%>
                </div>

                <div class="password">
                    <input type="password" name="password" id="password" maxlength="20" placeholder="Password" required>
                </div>

                <div id="password-length">
                    <!-- Select a password between 6 and 20 characters long! -->
                </div>

                <button>Login</button>

                <p>By creating an account, you are agreeing to our <br> Terms of Service and Privacy Policy.</p>
            </form>



            <footer>
                <p>dont have an account?</p>
                <a href="/register">Create a account</a>
            </footer>
        </div>
    </div>


















</body>

</html>